.carousel-container {
  display: flex;
  flex-direction: row;
  height: 50%;
  align-items: center;
  padding: 10px;
}
.card-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  min-width: 30%;
  min-height: 15%;
  height: auto;
  padding: 20px;
  border: 3px solid rgb(230, 161, 32);
  border-radius: 10px;
  color: white;
  background: #042c54; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #042c54,
    #120136ce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #042c54,
    #120136ce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.location-container {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fees-container {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  text-align: center;
}
.review {
  text-align: center;
  border: 1px solid rgb(237, 241, 237);
  padding: 1em;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}
.attribute {
  color: rgb(230, 161, 32);
  font-weight: bold;
}
.alice-carousel__stage-item {
  width: auto !important;
}
.rank {
  margin-top: -15px;
  text-align: center;
  color: greenyellow;
  font-size: 23px;
  font-weight: 600;
}
